.container {
    width: 282px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg2);
    box-shadow: var(--shadow);
    border-radius: 10px;
    border: 2px solid transparent;
    transition: all .6s ease-in-out;

    input:focus {
        outline: none;
    }

    &:has(input:focus) {
        border-color: var(--cor1);
    }

    img {
        width: 24px;
        height: 20px;
    }
}