.card {
    background-color: var(--cor3);
    width: 384px;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;
    overflow: hidden;
    transition: .6s ease-in-out;
    
    section {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        
        h3 {
            margin-bottom: 1rem;
        }

        p {
            font-size: .875rem;
            line-height: 1.25;
            margin-bottom: .5rem;
        }
    }
    
    &:hover {
        box-shadow: var(--shadow2);
        transform: translate(-1px, -1px);
    }
}

.imgContainer {
    height: 12rem;
    background-color: white;

    img {
        object-fit: contain;
    }
}

.titulo {
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--cor1);
}

.footer {
    display: grid;
    grid-template-columns: 50% 1fr 1fr;
    align-items: center;
    height: 4.5rem;

    .preco {
        grid-column: 1;
        background-color: var(--cor1);
        color: white;
        flex:1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 1.25rem;
        align-self: stretch;
    }

    .favoritar {
        grid-column: 2;
    }

    .carrinho {
        grid-column: 3;
    }
}